# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Ignore Intellij specific files and folders
.idea
*.iml

# Ignore Eclipse specific files and folders
.classpath
.project
.settings
.factorypath
target

#ignore temp-files
temp.txt
