<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <File name="AccessLog" fileName="${env:MYSITE_LOG_DIR}/mysite-access.log" />
        <File name="ApplicationLog" fileName="${env:MYSITE_LOG_DIR}/mysite-application.log">
            <PatternLayout pattern="%d{ISO8601} [%t] %-5level %C{1}:%L - %msg%n" />
        </File>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ISO8601} [%t] %-5level %C{1}:%L - %msg%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console" />
            <AppenderRef ref="ApplicationLog" />
        </Root>
        <Logger name="AccessLog" level="INFO" additivity="false">
            <AppenderRef ref="AccessLog" />
        </Logger>
    </Loggers>
</Configuration>